<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('homepage-banner3.jpg_large')%>">
  <div class="container" data-controller="homepage">
    <h1>Did you know them as children? Go back to childhood for a day or a weekend alongside your idols...</h1>
    <p><span data-controller="typed-js"></span></p>
      <%= render "components/btn-home" %>
  </div>
</div>
