<div class="beats-footer">
  <div class="beats-footer-links">
    <a href="#"><i class="fa-solid fa-envelope"></i> Contact us</a>
    <a href="#"><i class="fab fa-twitter"></i> Twit us</a>
    <a href="#"><i class="fab fa-facebook"></i> Like us</a>
    <a href="#"><i class="fab fa-instagram"></i> Follow us</a>
  </div>
  <div class="beats-footer-copyright">
    <strong>Fantastics Beast</strong> by Alexia, Aubry, Marc-Antoine & Julien
  </div>
</div>
