<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag('logo-app.jpg', class:'rounded-circle') %>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/animals/">Animals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Log in</a>
          </li>
          <li class="nav-item dropdown">
            <% if user_signed_in? %>
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn.pixabay.com/photo/2016/04/01/11/29/avatar-1300370_1280.png" />
            <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <% if user_signed_in? %>
                  <a class="dropdown-item" data-turbo-method="delete" href="/users/sign_out">Log out</a>
                <% else %>
                  <a class="dropdown-item" href="/users/sign_in">Login</a>
                <% end %>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
