// Import Google fonts
/* @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');
// Define fonts for body and headers
$body-font: "Cinzel", "serif";
$headers-font: "Cinzel", "serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
// h1, h2, h3, p, a {
//   font-family: ‘Roboto Flex’, sans-serif;
//   h1 {
//     font-size: 36px;
//   }
//   h2 {
//     font-size: 32px;
//   }
//   h3 {
//     font-size: 21px;
//   }
//   p {
//     font-size: 16px;
//   }
// }
