#bookings-main-title {
  // background-color: #f4f4f4;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  font-size: 9vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  color: #F4F4F4;
}
.bookings-global-container {
  margin-top: 2%;
  margin-bottom: 5%;
  min-height: 100vh;
  padding: 5%;
  background-color: #2F2F2F;
  color: #F4F4F4;
}

.titles-style {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 4vh;
  }
  p {
    font-size: 2vh;
  }
}

.col-received {
  padding-left: 7vh;
  padding-right: 7vh;
}

.col-sent {
  padding-left: 7vh;
  padding-right: 7vh;
}

.booking-card {
  align-items: center;
  background-color: #756e6e7d;
  border-radius: 10px;
  // border: 1px solid rgb(235,235,235);
  box-shadow: #B75A13 0px 2px 4px 0px, #B75A13 0px 2px 16px 0px;
  display: flex;
  margin-bottom: 10vh;
  padding-bottom: 2vh;
  padding-left: 4vh;
  padding-right: 2vh;
  padding-top: 2vh;
  height: 18rem;
}

.booking-card-box-one {
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  text-align: center;
  height: 15rem;
}
.booking-animal-photo-received {
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 15px;
  margin-left: 1vh;
}
.booking-animal-photo {
  height: 125px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 15px;
}

.booking-card-box-two {
  align-items: center;
  border-radius: 15px;
  // box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;

}

.booking-card-box-three {
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.booking-profile-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}




#booking-profile-age {
  // background-color: chartreuse;
}

#booking-profile-job {
  // background-color: indianred;
}

#booking-profile-name {
  text-align: center;
  // font-weight: bold;
  font-size: large;
}

#wants-phrase {
  // background-color: aqua;
  text-align: center;
  // font-weight: bold;
  font-size: larger;

}

.booking-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  // overflow: hidden;
  // object-fit: cover;
}

.btn-booking a {
  display: inline-block;
  text-decoration: none;
  color: #F4F4F4;
  &:hover {
    font-weight: bold;
  }
  .btn-booking > a {
    margin-right: 5px;
  }

}

.booking-date-request, .booking-date-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon-capacity-beast {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
