<%= render "shared/navbar" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('homepage-banner.jpg')%>">
  <div class="container">
    <h1>Did you know them as children? Go back to childhood for a day or a weekend alongside your idols...</h1>
    <p><strong>Since 2023</strong>, voted <strong>best park</strong> of fantastic animals by our hosts</p>
      <%= render "pages/btn-home" %>
  </div>
</div>
<%= render "shared/footer" %>
